<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>TIN TỨC</h2>
      <ol>
        <li><a routerLink="/dich-vu" >Trang chủ</a></li>
        <li>Tin tức</li>
        
      </ol>
    </div>
  </div>
</section><!-- End Breadcrumbs -->

<section id="portfolio " class="portfolio detail-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
       
        <div class="news-item clearfix row">
          <div class="col-md-3 col-sm-4 col-xs-12 image">
            <a href="/tin-tuc/tren-tay-dell-xps-13-(2015)--mong-hon--manh-hon--pin-tot-hon.html">
              <img src="http://localhost:44343/upload/product/5ojaM9xYeS.jpg" class="img-responsive" alt="Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn" style="width:100%">
            </a>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-12 news-info ">
            <div class="name"><a href="/tin-tuc/tren-tay-dell-xps-13-(2015)--mong-hon--manh-hon--pin-tot-hon.html">Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn</a></div>
            <p class="date">08/01/2015</p>
            <div class="desc">
              <p>
                Dell nhấn mạnh rằng chiếc XPS 13 của họ năm nay còn nhận được nhiều cải tiến tốt hơn, vượt trội hơn nhiều so với các phiên bản trước.
              </p>
            </div>
          </div>
        </div>
        <div class="news-item clearfix row">
          <div class="col-md-3 col-sm-4 col-xs-12 image">
            <a href="/tin-tuc/tren-tay-dell-xps-13-(2015)--mong-hon--manh-hon--pin-tot-hon.html">
              <img src="http://localhost:44343/upload/product/dNcB7tgmOi.jpg" class="img-responsive" alt="Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn" style="width:100%">
            </a>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-12 news-info ">
            <div class="name"><a href="/tin-tuc/tren-tay-dell-xps-13-(2015)--mong-hon--manh-hon--pin-tot-hon.html">Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn</a></div>
            <p class="date">08/01/2015</p>
            <div class="desc">
              <p>
                Dell nhấn mạnh rằng chiếc XPS 13 của họ năm nay còn nhận được nhiều cải tiến tốt hơn, vượt trội hơn nhiều so với các phiên bản trước.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="nav-list-product">
          <div class="brand">TIN TỨC NỔI BẬT</div>
          <div class="list-product  align-items-center">
            <div class="left-product">
              <img src="http://localhost:44343/upload/product/5ojaM9xYeS.jpg" class="img-responsive" alt="Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn" style="width:100%">
            </div>
            <div class="right-product">
              <a routerLink="/detail/">
                <span class="name">
                  Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn
                </span>
              </a>
            </div>
          </div>
          <div class="list-product  align-items-center">
            <div class="left-product">
              <img src="http://localhost:44343/upload/product/dNcB7tgmOi.jpg" class="img-responsive" alt="Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn" style="width:100%">
            </div>
            <div class="right-product">
              <a routerLink="/tin-tuc/123">
                <span class="name">
                  Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn
                </span>
              </a>
            </div>
          </div>
          <div class="list-product  align-items-center">
            <div class="left-product">
              <img src="http://localhost:44343/upload/product/dNcB7tgmOi.jpg" class="img-responsive" alt="Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn" style="width:100%">
            </div>
            <div class="right-product">
              <a routerLink="/detail/">
                <span class="name">
                  Trên tay Dell XPS 13 (2015): mỏng hơn, mạnh hơn, pin tốt hơn
                </span>
              </a>
            </div>
          </div>
        </div>
      
      </div>
    </div>



  </div>
</section><!-- End Portfolio Section -->

<script>
  $(document).ready(function () {
    $("input[type='radio']").click(function () {
      var sim = $("input[type='radio']:checked").val();
      //alert(sim);
      if (sim < 3) { $('.myratings').css('color', 'red'); $(".myratings").text(sim); }
      else { $('.myratings').css('color', 'green'); $(".myratings").text(sim); }
    });
  });
</script>


