<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Chi tiết sản phẩm</h2>
      <ol>
        <li><a routerLink="/dich-vu" >Trang chủ</a></li>
        <li>Chi tiết sản phẩm</li>
        <li>{{productDetail.ProductName}}</li>
      </ol>
    </div>
  </div>
</section><!-- End Breadcrumbs -->

<section id="portfolio " class="portfolio detail-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-7">

                <!--<div class="owl-carousel testimonials-carousel">
                  <div class="testimonial-item" style="width:100%!important">
                    <img src="../../assets/img/portfolio/portfolio-1.jpg" class="testimonial-img" alt="">
                  </div>
                  <div class="testimonial-item" style="width:100%!important">
                    <img src="../../assets/img/portfolio/portfolio-2.jpg" class="testimonial-img" alt="">
                  </div>

                  <div class="testimonial-item" style="width:100%!important">
                    <img src="../../assets/img/portfolio/portfolio-3.jpg" class="testimonial-img" alt="">
                  </div>

                  <div class="testimonial-item" style="width:100%!important">
                    <img src="../../assets/img/portfolio/portfolio-4.jpg" class="testimonial-img" alt="">
                  </div>

                  <div class="testimonial-item" style="width:100%!important">
                    <img src="../../assets/img/portfolio/portfolio-5.jpg" class="testimonial-img" alt="">
                  </div>

                </div>-->
                <div class="sp-large" style="overflow: hidden; height: 500px; width: auto; display: block;">
                  <a href="{{imagePathDefault.ImagePath}}" class="sp-current-big">
                    <img src="{{imagePathDefault.ImagePath}}">
                  </a>
                </div>
                <div class="sp-thumbs sp-tb-active">
                  <a href="javascript:;" [ngStyle]="{'background-image': 'url(' + item.ImagePath + ')'}" (click)="onChangeImage(item.ImagePath)"
                     *ngFor="let item of imagePaths" [ngClass]="{'sp-current': imagePathDefault.ImagePath == item.ImagePath}"></a>
                </div>
              </div>
              <div class="col-lg-5" style="font-size: 1vw">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body text-center">
                        <span class="myratings">4.5</span>
                        <fieldset class="rating" style="width:65%">
                          <input type="radio" id="star5" name="rating" value="5" />
                          <label class="full" for="star5" title="Awesome - 5 stars"></label>
                          <input type="radio" id="star4half" name="rating" value="4.5" />
                          <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                          <input type="radio" id="star4" name="rating" value="4" />
                          <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                          <input type="radio" id="star3half" name="rating" value="3.5" />
                          <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                          <input type="radio" id="star3" name="rating" value="3" />
                          <label class="full" for="star3" title="Meh - 3 stars"></label>
                          <input type="radio" id="star2half" name="rating" value="2.5" />
                          <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                          <input type="radio" id="star2" name="rating" value="2" />
                          <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                          <input type="radio" id="star1half" name="rating" value="1.5" />
                          <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                          <input type="radio" id="star1" name="rating" value="1" />
                          <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                          <input type="radio" id="starhalf" name="rating" value="0.5" />
                          <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                          <input type="radio" class="reset-option" name="rating" value="reset" />
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="stars">
                  <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" />
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" />
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" />
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" />
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>-->
                <div class="product-name">
                  {{productDetail.ProductName}}
                </div>
                <div style="border-bottom: 1px solid #e4e4e4; margin-bottom: 10px; margin-top: 10px"></div>
                <div [innerHTML]="productDetail.ShortContent">
                </div>
                <div style="border-bottom: 1px solid #e4e4e4; margin-bottom: 10px; margin-top: 10px"></div>
                <div class="price">
                  <div class="sale-price">
                    {{productDetail.DiscountPrice| number}} đ
                  </div>
                  <div class="discount-price" *ngIf="productDetail.DiscountPrice< productDetail.SalePrice">
                    {{productDetail.SalePrice| number}} đ

                  </div>

                </div>
                <div style="border-bottom: 1px solid #e4e4e4; margin-bottom: 10px; margin-top: 10px"></div>
                <div class="number">
                  <div class="input-group" style="width:50%">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-danger" (click)="onMinusQuantity()">
                        <i class='bx bx-minus'></i>
                      </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="10" min="1" max="100" [(ngModel)]="cart.quantity">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-success btn-number" (click)="onPlusQuantity()">
                        <span class="bx bx-plus-medical"></span>
                      </button>
                    </span>
                  </div>
                </div>
                <div style="border-bottom: 1px solid #e4e4e4; margin-bottom: 10px; margin-top: 10px"></div>
                <div class="btn-detail">
                  <button type="button" class="btn btn-danger">Mua ngay</button>
                  <button type="button" class="btn btn-primary" (click)="addToCart()">Thêm vào giỏ hàng</button>
                </div>
                <!--<table class="table">
                  <tr>
                    <td style="width:40%">Màn hình</td>
                    <td>6.7", FHD+, Chính: Dynamic AMOLED, phụ: Super AMOLED, 1080 x 2636 Pixel</td>
                  </tr>
                  <tr>
                    <td style="width:40%">Camera sau</td>
                    <td>12.0 MP + 12.0 MP</td>
                  </tr>
                  <tr>
                    <td style="width:40%">Camera Selfie</td>
                    <td>10.0 MP</td>
                  </tr>
                  <tr>
                    <td style="width:40%">Camera Selfie</td>
                    <td>10.0 MP</td>
                  </tr>
                  <tr>
                    <td style="width:40%">Camera Selfie</td>
                    <td>10.0 MP</td>
                  </tr>
                  <tr>
                    <td style="width:40%">Camera Selfie</td>
                    <td>10.0 MP</td>
                  </tr>
                  <tr>
                    <td style="width:40%">Camera Selfie</td>
                    <td>10.0 MP</td>
                  </tr>
                </table>-->
              </div>
            </div>

          </div>
          <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#profile" role="tab" data-toggle="tab" aria-selected="true">Thông số kỹ thuật</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Bình luận</a>
              </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active show" id="profile" [innerHTML]="productDetail.LongContent"></div>
              <div role="tabpanel" class="tab-pane fade" id="buzz">bbb</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="nav-list-product">
          <div class="brand">SẢN PHẨM KHUYẾN MÃI</div>
          <div class="list-product  align-items-center" *ngFor="let item of productPromtions; let i = index">
            <div class="left-product">
              <img src="{{item.ImagePath}}" style="width: 100%;" />
            </div>
            <div class="right-product">
              <a routerLink="/detail/{{item.LinkCode}}">
                <span class="name">{{item.ProductName}}</span>
                <span class="sale-price">{{item.SalePrice|number}} đ</span>
                <span class="discount-price">{{item.DiscountPrice|number}} đ</span>
              </a>
            </div>
          </div>
        </div>
        <div class="nav-list-product">
          <div class="brand">SẢN PHẨM BÁN CHẠY</div>
          <div class="list-product  align-items-center" *ngFor="let item of productHots; let i = index">
            <div class="left-product">
              <img src="{{item.ImagePath}}" style="width: 100%;" />
            </div>
            <div class="right-product">
              <a routerLink="/detail/{{item.LinkCode}}">
                <span class="name">{{item.ProductName}}</span>
                <!--<span class="sale-price">{{item.SalePrice|number}} đ</span>-->
                <span class="discount-price">{{item.DiscountPrice|number}} đ</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</section><!-- End Portfolio Section -->

<script>
  $(document).ready(function () {
    $("input[type='radio']").click(function () {
      var sim = $("input[type='radio']:checked").val();
      //alert(sim);
      if (sim < 3) { $('.myratings').css('color', 'red'); $(".myratings").text(sim); }
      else { $('.myratings').css('color', 'green'); $(".myratings").text(sim); }
    });
  });
</script>


