  <!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">TÌM KIẾM</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Tìm kiếm</label>
              <input type="text" class="form-control" [(ngModel)]="filter.searchString">
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->
          <div class="col-md-2">
            <div class="form-group">
              <label>Sử dụng</label>
              <select class="form-control select2" style="width: 100%;" [(ngModel)]="filter.isActive">
                <option value="-1">Tất cả</option>
                <option value="1">Sử dụng</option>
                <option value="0">Không sử dụng</option>
              </select>
            </div>
            <!-- /.form-group -->
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Ngôn ngữ</label>
              <select class="form-control select2" style="width: 100%;" [(ngModel)]="filter.langId">
                <option value="vi-VN">Việt Nam</option>
                <option value="en-US">English</option>
              </select>
            </div>
            <!-- /.form-group -->
          </div>
          <div class="col-md-2">
            
          </div>
          <div class="col-md-3">
            <div class="formsearch">
              <button type="submit" class="btn search btn-primary" (click)="onSearch()">Tìm</button>
              <button type="button" class="btn search btn-success" (click)="onAdd()" data-toggle="modal" data-target="#exampleModal">Thêm mới</button>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <div class="row">

        </div>
        <!-- /.row -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table id="example1" class="table  table-sm table-bordered table-hover table-striped">
              <thead>
                <tr class="table-primary">
                  <th class="text-center width_50">#</th>
                  <th>Tên </th>
                  <th class="width_100">Sử dụng</th>
                  <th class="width_40"></th>
                  <th class="width_40"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="results.length==0">
                  <td colspan="20">
                    Không có dữ liệu được tìm thấy
                  </td>
                </tr>
                <tr *ngFor="let item of results; index as i">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{item.AboutName}}</td>
                  <td class="text-center">
                    <i class="fas fa-check" *ngIf="item.IsActive"></i>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn" (click)="onEdit(item)" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit"></i></button>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn" (click)="onDeleteConfirm(item)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="8">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <div class="col-sm-10">
                          <ul class="pagination" *ngIf="paging.pages.length>0">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item" *ngFor="let item of paging.pages; index as i"><a class="page-link" (click)="onChangePageIndex(i+1)">{{i+1}}</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-1">
                          <select class="form-control select2" [(ngModel)]="paging.pageSize" (change)="onChangePageSize(paging.pageSize)">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </div>
                        <label for="LinKCode" class="col-sm-1 col-form-label"> Số dòng: {{paging.totalRows}}</label>
                      </div>
                      <!-- /.form-group -->
                    </div>
                   
                  </th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-80" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">GIỚI THIỆU</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label for="CategoryName" class="col-sm-2 col-form-label">Tên</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="AboutName" [(ngModel)]="row.AboutName">
              </div>
            </div>
            <div class="form-group row">
              <label for="Category" class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="IsActive" [(ngModel)]="row.IsActive" />
                  <label class="form-check-label" for="IsActive">Sử dụng</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Tiêu đề</label>
              <div class="aboutTitle">
              </div>
            </div>
            <div class="form-group">
              <label>Nội dung ngắn</label>
              <div class="aboutSubContent">
              </div>
            </div>
            <div class="form-group">
              <label>Nội dung 1 </label>
              <div class="aboutContent">
              </div>
            </div>
            <div class="form-group">
              <label>Nội dung 2 </label>
              <div class="aboutContent2">
              </div>
            </div>
            <div class="form-group">
              <label>Nội dung 3 </label>
              <div class="aboutContent3">
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSave()">Lưu</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
  <div class="modal-dialog modal-40" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">THÔNG BÁO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa nhóm <strong>{{itemDelete.AboutName}}</strong> này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onDelete()">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>



