<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap py-5">
          <div class="img d-flex align-items-center justify-content-center" style="background-image: url(assets/img/user2-160x160.jpg); "></div>
          <h3 class="text-center mb-0">Welcome</h3>
          <p class="text-center">Sign in by entering the information below</p>
          <form action="#" class="login-form">
            <div class="form-group">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
              <input type="text" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-100 text-md-right">
                <a href="#">Forgot Password</a>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn form-control btn-primary rounded submit px-3">Get Started</button>
            </div>
          </form>
          <div class="w-100 text-center mt-4 text">
            <p class="mb-0">Don't have an account?</p>
            <a href="#">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
